@import '../../../styles/settings.scss';

.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

  .card {
    @extend %shadowCard;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid $cadr-border-color;
    position: relative;
    padding: 10px;
    background: $card-bg-color;
    margin: 40px 10px;
  
    label {
      font-size: calc($base-size * 1.7);
    }

    .buttonBox {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 100%;
      }
    }
  }
}