@import '../../../styles/settings.scss';

.title {
  color: $title-text-color;
  font-size: calc($base-size * 3);
  text-align: center;
  margin: 10px 0;
  font-family: $font-text2;
  font-weight: 600;
}