@import '../../../styles/settings.scss';

.title {
  color: $title-text-color;
  text-shadow: $text-shadow;
  font-size: calc($base-size * 4);
  text-align: center;
  margin: 20px 0 0 0;
  font-family: $title-text-font;
  font-weight: 600;
}