@import '../../../styles/settings.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-light;
  text-shadow: $text-shadow;

  a {
    text-decoration: none;
    color: $color-light;
  }

  .text {
    width: 100%;
    background: $footer-bg-color;
    padding: 10px;
  }

  .vaves {
    width: 100%;
    height: 100px;
    background-image: url(../../../../public/images/vaves3.svg);
    background-size: cover;
  }
}