@import '../../../styles/settings.scss';

.card {
	width: 600px;
	height: auto;
	margin: 0 auto;
}

.img {
	width: 100%;
	height: 100%;
	min-height: 300px;
	object-fit: contain;
}

.btnContaier {
	margin: 3rem 0 1rem 0;
	display: flex;
	justify-content: space-around;
}

.btn {
	width: 100px;
}

.avatar {
	width: 30px;
	height: 30px;
	border: 1px solid $color-active;
	border-radius: 3px;
}
