@import '../../../styles/settings.scss';

.root {
  background: $nav-bg-color;
  //text-shadow: 0 0 5px pink;
  font-size: calc($base-size * 1.5);

  a {
    color: $color-light;
    text-decoration: none;
    margin: 0 10px;
  }

  .linkActive {
    color: $color-active;
  }

  .logo {
    font-family: $font-text;
    font-weight: 600;
    font-size: calc($base-size * 2.5);
  }

  .avatarBox {
    width: 30px;
    height: 30px;
    border: 1px solid $color-active;
    border-radius: 3px;
    box-shadow: 0 0 5px #fff;
    background: $color-light;
  }
  .avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .vaves {
    width: 100%;
    height: 100px;
    background-image: url(../../../../public/images/vaves.svg);
    background-size: cover;
  }
}