$color-light: #f5f0f0;
$color-active: rgb(206, 207, 209);
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;

$color-blue-light: #93b9ff;
$color-blue-mid: #6198ff;
$color-blue-dark: #004cbb;
$color-blue-vdark: #001f3f;

$color-black:  #1a1a1a;

%shadowCard {
  -webkit-box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
}

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

$text-color-dark: $color-blue-vdark;
$text-color-light: $color-light;

$text-shadow: $text-color-dark 0 2px 4px;

$font-text: 'Lato', sans-serif;
$font-text2: 'Sacramento', cursive;

// ------ Nav bar ------ //

$nav-bg-color: $color-blue-dark;

// ------ Search bar ------ //

$searchbar-bg-color: $color-blue-mid;

// ------ Title ------ //

$title-text-color: $color-light;
$title-text-font: $font-text;

// ------ Card ------ //

$card-bg-color: $color-light;
$cadr-border-color: $color-active;

// ------ Footer ------ //

$footer-bg-color: $color-blue-mid;